body {
  font-family: sans-serif;
  padding: 20px;
}

input {
  margin: 2px;
}

button {
  margin: 5px 0;
}

.year, .module, .assessment {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}
